<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Vinayaka Fabrics</title>



    <!-- get the link from "https://getbootstrap.com/docs/3.3/getting-started/" -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!--my styles-->
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- scripts file-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>

    <body>
      <div style="background-color:white;text-align: right;padding:10px 20px 0px 0px;height:50px;border:2px solid grey" >
         <i class="fas fa-user"></i>
         <span style="margin-right: 10px; color:#0f5477;font-weight: bold;"><%= localStorage.getItem("UserName")%></span>
         <form method="POST" action="/logout" style="display:inline-block;">
         <button class="btn-dark" type="submit"> Log-out</button>
        </form>
      </div>
    <div class="sidebar">
        <div class="logo-details">
          <div class="logo_name">Vinayaga Fabrics</div>
          <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav-list">
          <li>
            <a href="/home">
                <i class="fas fa-home-lg-alt"></i>
              <span class="links_name">Home</span>
            </a>
            <span class="tooltip">Home</span>
          </li>
          <li></li>
          <li>
            <div>
              <a class="dropbtn" style="color:pink;"><i class="fa-icon fab fa-first-order-alt"></i>Orders</a>
            <div class="container">
              <a href="/api/v1/order/orderlist">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Orders</span>
              </a>
              <a href="#">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Knitting Programs</span>
              </a>
              <a href="#">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Deliveries</span>
              </a>
              <a href="#">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Deliveried Goods</span>
              </a>
              <a href="#">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Generate Bills</span>
              </a>
              <a href="#">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Payment Entry</span>
              </a>
              <a href="#">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Supplier Transaction-<br />Report</span>
              </a>
            </div>
          </li>
          <li>
              <a class="dropbtn" style="color:pink;"><i class="fa-icon fas fa-list"></i>Operators</a>
            <div class="container">
              <a href="/api/v1/operator/operatorlist">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Operator</span>
              </a>
              <a href="/api/v1/operator/operatormapping">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Operator  Machine <br />Mapping</span>
              </a>
            </div>
          </li>
          <li>
              <a class="dropbtn" style="color:pink;"><i class="fa-icon fas fa-brain"></i>Masters</a>
            <div class="container">
              <a href="/api/v1/master/dia">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Dia Master</span>
              </a>
              <a href="/api/v1/master/gauge">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Gauge Master</span>
              </a>
              <a href="/api/v1/master/fabric">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Fabric Master</span>
              </a>
              <a href="/api/v1/master/tax">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Tax Master</span>
              </a>
              <a href="/api/v1/master/company">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Company Master</span>
              </a>
              <a href="/api/v1/master/supplier">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Supplier Master</span>
              </a>
              <a href="/api/v1/master/mill">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Mill Master</span>
              </a>
              <a href="/api/v1/master/yarn">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Yarn Master</span>
              </a>
              <a href="/api/v1/master/color">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Color</span>
              </a>
              <a href="/api/v1/master/machine">
                  <i class="far fa-dot-circle"></i>
                <span class="links_name">Machine Master</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        var dropdown = document.getElementsByClassName("dropbtn");
        var i;
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
            } else {
              dropdownContent.style.display = "block";
            }
          });
        }
      //  closeBtn.addEventListener("click", () => {
          sidebar.classList.toggle("open");
          menuBtnChange();
      //  });
        function menuBtnChange() {
          if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
          } else {
            closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
          }
        }
      </script>

      <%- body -%>

    </body>
    </html>
